p {font-family: Times; size: 6}       
head{background:#525D4C}
body{background: #525D4C}
h2 { color: #FFE20A; font-family: Monserrat; text-align: center; size: 8}
h3 { color:#FFE20A; font-family: Monserrat; text-align: center; size: 8}
h4 { color: #FFE20A; font-family: Monserrat; text-align: center; size: 8}
h5 { color: #FFE20A; font-family: Monserrat; text-align: center; size: 8}