h1 { text-align: center}
#quientit { color:#FFE20A; font-family: Monserrat; text-align: center; size: 15}
h2 { color:#FFE20A; font-family: Monserrat; text-align: center; size: 8}
h3 { color: #FFE20A; font-family: Monserrat; text-align: center; size: 8}

#ty{ text-align:center; height: 40%;
    width: 50% }
#josh{ text-align:center; height: 50%;
    width: 50% }
    p {font-family: Times}     
    head{background:#525D4C}
body{background: #525D4C}