h1 { text-align: center}
h2 { color:#FFE20A; font-family: Monserrat; text-align: center; size: 15}
#mapa{height: 30%;
    width: 30% }
p {font-family: Times; size:10} 
head{background:#525D4C}
body{background: #525D4C}