h2 { color: #FFE20A; font-family: Monserrat; text-align: center; size: 8}
h3 { color:#FFE20A; font-family: Monserrat; text-align: center; size: 8}
h4 { color: #FFE20A; font-family: Monserrat; text-align: center; size: 8}
h5 { color: #FFE20A; font-family: Monserrat; text-align: center; size: 8}
#logo1{height: 30%;
    width: 30%}
#logo2{height: 20%;
    width: 30%}
p {font-family: Times}       
head{background:#525D4C}
body{background: #525D4C}
